<header>

    <vav>

        <a href="/">My Database (Click on me to terun to home page)</a>
        <ul>
            <li><a href="/users">Users (view all users)</a></li>
            <li><a href="/users/new">Add new user</a></li>

           
            <li><a href="/persons/new">Add details</a></li>
            

        </ul>
    </vav>


</header>