<header>

    <nav class="header-nav">

        <a class="headertitle" href="/">My Database (Click here to return to home page)</a>
        <ul>
            <li><a class="headerlink" href="/users">Users (view all users)</a></li>
            <li><a class="headerlink"href="/users/new">Add new user</a></li>
            <li><a class="headerlink"href="/persons/new">Add details</a></li>
            

        </ul>
    </nav>


</header>