<header>

    <vav>

        <a href="/">Mybrary</a>
        <ul>
            <li><a href="/users">Users</a></li>
            <li><a href="/users/new">add users</a></li>

            <li><a href="/persons">person</a></li>
            <li><a href="/persons/new">Add details</a></li>
            

        </ul>
    </vav>


</header>