<header>

    <vav>

        <a href="/">Mybrary</a>
        <ul>
            <li><a href="/users">Search</a></li>
            <li><a href="/users/new">add users</a></li>


            <li><a href="/persons">Person details</a></li>
            <li><a href="/persons/new">add Details</a></li>
            

        </ul>
    </vav>


</header>