<h2>Person details</h2>
<form action="/persons" method ="POST" enctype="multipart/form-data">

    <%- include('_form_fields') %>

    <a href="/persons"> Cancel</a>
    
    <button type="submit" value="Submit">Create</button>

</form>